body {
  background-color: rgb(15, 14, 68);
  max-width: 1000px;
  height: 444px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  user-select: none;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-align: center;
  height: 30px;
}

span{
  font-size: 75px;
  margin-top: 20px;
}

div[id^="row-"] div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  float: left;
  cursor: pointer;

}

div[id^="row-"] div:last-child {
  border-right: none; 
  cursor: pointer;
}

div[id^="row-"] div:first-child {
  border-left: none;
  cursor: pointer;
}

div[id="row-1"] div{
  border-top: none;
  cursor: pointer;
}

div[id="row-3"] div{
    border-bottom: none;
    cursor: pointer;
}

div[id^="row-"] {
  clear: float;
  width: 608px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

div.board {
  width: 608px;
  overflow: hidden;
  margin: 0 auto;
}

.endgame {
  display: none;
  width: 150px;
  top: 80px; 
  background-color: whitesmoke;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  color: black;
  font-size: 2em;
} 